/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
bin/bundler
bin/erubis
bin/htmldiff
bin/ldiff
bin/rackup
bin/rails
bin/rdoc
bin/ri
bin/sprockets
bin/thor
bin/tilt
bin/tt
